.Services {
  // background-color: blue;
  padding: 50px 160px 100px 80px;
  min-height: 100vh;

  .mainTitle {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: -1rem;
    margin-bottom: 1rem;
    color: #ffffff;
  }

  .filterSet {
    display: flex;
  }

  .card {
    margin-bottom: 1.5rem;
    background-color: rgb(50, 50, 50);
    color: #ffffff;
    border: solid 1px #28e98c;

    .card-body {
      height: 190px;
      padding: 20px;

      svg {
        font-size: 1.5rem;
        color: #28e98c;
        margin-bottom: 0.5rem;
      }

      .card-title {
        color: #28e98c;
        font-weight: 300;
        font-size: large;
      }
      .card-text {
        font-weight: 300;
        font-size: small;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .Services {
    padding: 1.5rem;
  }
}
