.Intro {
  // background-color: yellow;
  position: relative;
  padding: 100px 160px 100px 80px;
  min-height: 100vh;

  .mainTitle {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 2rem;
    color: #ffffff;
  }
  h2 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0px;
    color: #ffffff;

    .react-typewriter-text-wrap {
      display: inline-block;

      .react-typewriter-text {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
        color: #28e98c;
      }
    }
  }
  .dhanunjayStamp {
    width: 30%;
    position: absolute;
    right: 15%;
    margin-top: 0%;
    cursor: pointer;
    animation: stampRotation 10s infinite linear;
  }
  /* @Keyframe */
  @keyframes stampRotation {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .experience {
    margin-top: 45%;
  }
}
