.Intro {
  // background-color: yellow;
  position: relative;
  padding: 100px 160px 100px 80px;
  min-height: 100vh;

  .subtitle {
    margin-top: -15%;
    margin-bottom: 20px;
  }

  .mainTitle {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 2rem;
    color: #ffffff;
  }
  h2 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0px;
    color: #ffffff;

    .react-typewriter-text-wrap {
      display: inline-block;

      .react-typewriter-text {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
        color: #28e98c;
      }
    }
  }
  .dhanunjayStamp {
    width: 22%;
    position: absolute;
    right: 15%;
    margin-top: 0%;
    cursor: pointer;
    animation: stampRotation 30s infinite linear;
  }
  /* @Keyframe */
  @keyframes stampRotation {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .experience {
    margin-top: 20%;
  }
}

@media screen and (max-width: 991px) {
  .Intro {
    padding: 1.5rem;

    .mainTitle {
      font-size: calc(1.475rem + 2.7vw);
    }

    h2 {
      font-size: calc(1rem + 2.7vw);

      .react-typewriter-text-wrap {
        .react-typewriter-text {
          font-size: calc(1rem + 2.7vw);
        }
      }
    }

    .dhanunjayStamp {
      width: 50%;
      position: relative;
      right: auto;
      margin-top: 10%;
    }

    .experience {
      margin-top: 10%;
    }
  }
}
