.Skills {
  //   background-color: yellowgreen;
  padding: 50px 180px 100px 80px;
  min-height: 100vh;

  .skillLogos {
    .col {
      text-align: center;
      .logo {
        font-size: 4rem;
        margin-bottom: 0.35rem;
        // color: #ffffff;
      }
      h6 {
        margin-bottom: 1.5rem;
        font-size: small;
      }
    }
  }
}
