@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #1f1f1f !important;
  color: #999999 !important;
  font-family: "Inter", sans-serif !important;
  /* pointer-events: none; */
}

.leftIntro {
  background-color: #191919;
  color: #ffffff;
  height: Calc(100vh - 3rem);
  overflow: hidden;
  border: solid 1px #555;
  border-radius: 20px;
  padding: 2rem;
} 

.subtitle {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  border: 1px solid #565656;
  padding: 9px 20px;
  border-radius: 30px;
  margin-bottom: 40px;
  display: inline-flex;
  align-items: center;

  svg {
    margin-right: 10px;
  }
}

.greenColor {
  color: #28e98c ;
}

.btn-primary {
  background-color: #28e98c !important;
  border-color: #28e98c !important;
  color: #1f1f1f !important;
}

.vertical-timeline-element-content {
  box-shadow: 0 6px 0 #121212 !important;
}
.vertical-timeline.vertical-timeline--two-columns {
  width: 100% !important;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
      width: 40px !important;
      height: 40px !important;
      left: Calc(50% - -10px) !important;
      margin-left: -28px;
      top: 10px;
      box-shadow:  0 0 0 2px #28e98c,inset 0 2px 0 rgba(0,0,0,.08),0 3px 0 4px rgba(0,0,0,.05) !important;
  }
}

.vertical-timeline-element-icon svg {
  width: 18px !important;
  height: 18px !important;
  margin-left: -9px !important;
  margin-top: -9px !important;
  color: #28e98c;
  
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns:before {
      left: 50%;
      margin-left: 0px !important;
  }
}

.vertical-timeline::before {
  width: 4px !important;
  background-color: rgb(50, 50, 50) !important;
}

.vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
  color: #ffffff;
}

.no-right-click {
  pointer-events: none;
}